<h2>Reset Password</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/resetpassword" method="post">
    <input name="username" placeholder="Username" required>
    <input name="newpassword" type="password" required>
    <input name="confirmnewpassword" type="password" required>
    <button type="submit">Change Password</button>
</form>
<p>{{ message }}</p>